_auth = bWFuaXNoLmthc2h5YXA6QVA1MUdpYkEzZTVpTE1ibnl1c3VKUkoyNG9h

always-auth = true

email = manish.kashyap@halliburton.com

@dswc:registry=https://repo.openearth.community/artifactory/api/npm/dswc-npm-all

@webframework:registry=https://repo.openearth.community/artifactory/api/npm/dswc-npm-all

@wdo:registry=https://repo.openearth.community/artifactory/api/npm/bpdwp-npm-all

registry=https://repo.openearth.community/artifactory/api/npm/distservices-npm-all

@nextgengraphics:registry=https://repo.openearth.community/artifactory/api/npm/nextgengraphics-npm-all/

@rtwe:registry=https://repo.openearth.community/artifactory/api/npm/realtimewelleng-npm